@import "tailwindcss";

/* 전역 스타일 */
body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}



.layout {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
}